body {
    background: url("../images/wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
}


.image {
    border-radius: 50%;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    justify-content: center;
}

p {
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 0 10px black;

}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 0 10px black;
}

h2 {
    text-align: center;
    color: white;
    text-shadow: 1px 0 10px black;
    padding-top: 50px;
}

nav a {
    border: 1px solid black;
    padding: 10px 35px;
    color: white;
    font-size: 20px;
    font-family: 'Source Serif Pro', serif;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.important {
    padding-top: 50px;
    margin-bottom: 100px;
}

.aboutme {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;

}

.container {
    background-position: center;
    text-align: center;
    border-radius: 15px 50px 30px;
    border: 2px solid black;
    padding: 150px;
    width: 200px;
    margin: auto;
    font-size: 40px;
}


.container1 {
    background-image: url("../images/02-portfolio-2.jpg");
}

.container2 {
    background-image: url("../images/youtube.jpg");
}

.container3 {
    background-image: url("../images/02-portfolio-4.jpg");
}

.container:hover {
    background-color: #ddd;
    color: gray;
    border: 10px solid gray;
}

a {
    color: black;
    text-decoration: none;
}

div a {
    border: 1px solid #fff;
    padding: 15px 50px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
}

.contactme {
    padding-top: 30px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

footer a:hover {
    background-color: #ddd;
    color: black;
    border: 10px solid gray;
}

@media screen and (max-width: 740px) {
    nav,
    .contactme {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }